/* Created by: Emilie
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color: lavender;
}

h1 {
	background-color: rgb(58, 79, 238);
	color: hsl(273, 17%, 64%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #b4e4da;
  color: hsl(273, 22%, 48%);
}